@font-face {
  font-family: "montserrat";
    src: url(fonts/Montserrat-Black.woff) format("woff"), url(fonts/Montserrat-Black.woff2) format("woff2");
    font-weight: 900;
}

@font-face {
  font-family: "montserrat";
    src: url(fonts/Montserrat-Bold.woff) format("woff"),  url(fonts/Montserrat-Bold.woff2) format("woff2");
    font-weight: bold;
}         

@font-face {
  font-family: "montserrat";
    src: url(fonts/Montserrat-ExtraBold.woff) format("woff"), url(fonts/Montserrat-ExtraBold.woff2) format("woff2");
    font-weight: 800;
}

@font-face {
  font-family: "montserrat";
    src: url(fonts/Montserrat-Medium.woff) format("woff"),  url(fonts/Montserrat-Medium.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
  font-family: "montserrat";
    src: url(fonts/Montserrat-SemiBold.woff) format("woff"),  url(fonts/Montserrat-SemiBold.woff2) format("woff2");
    font-weight: 600;
}

@font-face {
  font-family: "gilroy";
    src: url(fonts/Gilroy-ExtraBold.woff) format("woff"), url(fonts/Gilroy-ExtraBold.woff2) format("woff2");
    font-weight: 800;
}

@font-face {
  font-family: "roboto";
    src: url(fonts/Roboto-Regular.woff) format("woff"), url(fonts/Roboto-Regular.woff) format("woff2");
    font-weight: normal;
}