.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 3px solid #309;
  border-bottom: 3px solid #309;
  width: 1440px;
  max-height: 66px;
  padding-top: 44px;
}

.nav__link {
  font-family: "gilroy", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #585858;
  cursor: pointer;
  margin-bottom: 41px;
  margin-right: 36px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
}

.nav__link:hover {
  color: red;
}

.nav__link_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #309;
  border-radius: 50px;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #fff;
  margin-right: 130px;
  line-height: 24px;
  width: 180px;
  height: 50px;
}

.preview {
  background-image: url(images/background.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 1440px;
  max-height: 481px;
}

.preview__title {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  color: #309;
  max-width: 566px;
  margin-right: 130px;
  margin-bottom: 8px;
  line-height: 47px;
  text-align: right;
  padding-top: 151px;
}

.preview__slogan {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  max-width: 351px;
  margin-right: 130px;
  margin-bottom: 150px;
  margin-top: 0;
  line-height: 37px;
  text-align: right;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  max-height: 747px;
}

.box__title {
  font-weight: 900px;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 50px;
}

.box__grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
  margin-right: 129px;
}

.grid-row__advantage-item {
  text-align: center;
  max-width: 345px;
}

.advantage-item__subtitle {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 10px;
}

.advantage-item__desc {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.advantage-item__icon {
  margin-bottom: 30px;
  width: 85px;
  height: 85px;
}

.box__button {
  display: block;
  background-color: #309;
  border-radius: 50px;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #ffda45;
  line-height: 24px;
  width: 345px;
  height: 65px;
  padding: 0;
}

body {
  font-family: 'montserrat', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  margin: 0;
  color: #585858;
}

footer {
  background-color: blue;
}