header {
  color: black;
  font-size: 20px;
  }

.header__text {
  background-color: #ff6600;
  background-size: auto;
  color: white;
  box-shadow: 0 0 10px #000000;
  font-size: 18px;
  padding-left: 25px;
  outline: 2px solid #6666;
  margin-bottom: 10px;
  text-align: left;
       }
  
  .header__title {
    text-decoration-line: overline;
    text-shadow: 0 0 5px;
    text-transform: uppercase;
      }
  .header__button {
    color: white;
    background: green;
     }    
  .header__button_noy {
    color: white;
    background: red;
     }
	